<div *ngIf="chartData" class="chrt-bck">

  <form [formGroup]="stockChartForm">
    <mat-form-field class="dt-pad">
      <mat-label>From Date</mat-label>
      <input matInput [min]="minFrmDt" [max]="maxToDt" [matDatepicker]="Frmpicker" formControlName="frmDt">
      <mat-datepicker-toggle matSuffix [for]="Frmpicker"></mat-datepicker-toggle>
      <mat-datepicker #Frmpicker></mat-datepicker>
      <mat-error *ngIf="stockChartForm.get('frmDt').hasError('frmGtTnToDt')">
        Enter a date before To-Date
      </mat-error>
      <mat-error *ngIf="stockChartForm.get('frmDt').hasError('matDatepickerMax')">
        Date should be inferior
      </mat-error>
      <mat-error *ngIf="stockChartForm.get('frmDt').hasError('matDatepickerParse')">
        Please enter a valid date!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To Date</mat-label>
      <input matInput [min]="minFrmDt" [max]="maxToDt" [matDatepicker]="Topicker" formControlName="toDt">
      <mat-datepicker-toggle matSuffix [for]="Topicker"></mat-datepicker-toggle>
      <mat-datepicker #Topicker></mat-datepicker>
      <mat-error *ngIf="stockChartForm.get('toDt').hasError('toGtTnFrmDt')">
        Enter a date after From-Date
      </mat-error>
      <mat-error *ngIf="stockChartForm.get('toDt').hasError('matDatepickerMax')">
        Date should be superior
      </mat-error>
      <mat-error *ngIf="stockChartForm.get('toDt').hasError('matDatepickerParse')">
        Please enter a valid date!
      </mat-error>
    </mat-form-field>
  </form>
  <span *ngIf="filterData">
    <h4>Total Entries: {{filterData.length}} out of {{chartData.length}}</h4>
    <google-chart [title]="chart.title" [type]="chart.type" [data]="filterData" [columnNames]="chart.columnNames"
      [options]="chart.options">
    </google-chart>
  </span>
</div>